---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import TableOfContents from '../components/TOC.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, headings, description, date} = Astro.props;


---

<html lang="en">
	<head>
		<BaseHead title={title}/>
		<style>
			.prose {
				width: 960px;				
				margin: auto;				
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				justify-content: center;
				line-height: 1;
			}
			.title h1, .title h4 {
				margin: 0 0 0.5em 0;
				text-align: center;
				
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<h4>{description}</h4>
						<FormattedDate date={date} />
					</div>					
				
															
					<TableOfContents headings={headings} />
					<slot/>
				</div>
			</article>
		</main>
		<Footer/>
	</body>
</html>

